img {
  width: 250px;
  z-index: 1;
}

.enemyImage {
  transform: scaleX(-1);
  margin-right: 5%;
}

.enemyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.enemyCard,
.playerCard {
  margin-top: 5%;
  padding: 2%;
}

.enemyCard {
  margin-left: 5%;
}

.playerCard {
  margin-right: 5%;
}

.enemy-entry {
  text-align: right;
}

.history {
  max-height: 150px;
  overflow-y: auto;
}
